.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, 'Profile Image'
    %div
      = f.file_field :avatar, class:'text'
    %div
      = f.label :nickname, 'Nickname'
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction, 'Introduction'
    %div
      = f.text_area :introduction
    = f.submit 'Submit', class: 'btn-primary'