.container.mt-5
	=render 'commons/createboard'
	=link_to '前のページに戻る',boards_path,class:'btn btn-info my-3'
	.container-board
		.row
			.col-12.col-md-8
				%h2.text-info.text-md-center 募集内容
				.card
					.card_content
						.card_taglist
							=render 'commons/tag_list',tag_list: @board.tag_list
						.card_name.mb-3
							= @board.name
						.card_description
							= @board.content
							.card_created_at.d-flex.mt-3
								%p 投稿日：
								= @board.created_at.to_s(:datetime_jp)
							.card_updated_at.d-flex
								%p 更新日：
								= @board.updated_at.to_s(:datetime_jp)
					- if user_signed_in? && current_user.has_written?(@board)
						.row.board_detail_actions
							.col-6
								= link_to '編集', edit_board_path(@board),class:'btn btn-info w-100'
							.col-6
								= link_to '削除', board_path(@board), data: {method: 'delete', confirm: '本当に削除してもよろしいですか? '},class:'btn btn-danger w-100'
			.col-12.col-md-4
				%h2.text-info.text-md-center 募集している人
				.card
					.row.mb-3
						= link_to account_path(@board.user), class:'mx-auto' do
							= image_tag @board.user.avatar_image,class:'mr-0'
					.row
						.col-6.col-md-6
							%p.text-center Followers
							%p.text-center= @board.user.followings.count
						.col-6.col-md-6
							%p.text-center Followings
							%p.text-center= @board.user.followers.count

	.container-task
		-@tasks.each do |task|
			.card#task-show{data:{board_id: @board.id, task_id: task.id}}
				=link_to board_task_path(@board,task) do
					- if task.eyecatch&.attached?
						= image_tag task.eyecatch, class:'task_eyecatch mb-5'
					- else
						= image_tag 'background-default.png',class:'task_eyecatch mb-5'
				.card_name.d-flex
					= task.name
				.card_description
					= task.description
				.card_detail.d-flex
					= image_tag task.user.avatar_image
					.card_btn.ml-auto
						%p= task.comment_count
						=image_tag 'comment-img.png',class:'mr-0'
		.new_board
			= link_to '提案する', new_board_task_path(@board), class:'btn btn-first'
		=render 'commons/scrollbtn'
		=paginate @tasks
	=javascript_pack_tag 'board'
	=javascript_pack_tag 'task'
