.container.mt-5
	=render 'commons/createboard'
	.container-task
		=link_to '<< Back',boards_path,class:'btn btn-info'
		-@tasks.each do |task|
			.card#task-show{data:{board_id: @board.id, task_id: task.id}}
				=link_to board_task_path(@board,task) do
					- if task.eyecatch&.attached?
						= image_tag task.eyecatch, class:'task_eyecatch'
					- else
						= image_tag 'background-default.png',class:'task_eyecatch'
				.card_name.d-flex
					= task.name
					.card_archive_content.ml-auto
						- if user_signed_in?
							- if current_user.has_archivetasked?(@board,task)
								.card_detail_favorite.ml-auto.d-flex
									%p.pr-1= task.archive_count
									= link_to board_task_archive_path(@board,task),data:{method:'delete'} do
										= image_tag 'heart-active.svg',class:'mr-2'
							- else
								.card_detail_favorite.ml-auto
									= link_to board_task_archive_path(@board,task),data:{method:'post'} do
										= image_tag 'heart.svg',class:'mr-2'
				.card_description
					= task.description
				.card_detail.d-flex
					= image_tag task.user.avatar_image
					.card_btn.ml-auto.d-flex
						%p.pr-1= task.comment_count
						= link_to board_task_path(@board,task) do
							=image_tag 'comment-img.png',class:'mr-0'
		.new_board
			= link_to new_board_task_path(@board), class:'btn btn-first' do
				.float_btn
					%i.fa.fa-plus
				%p Add New Task
		=paginate @tasks
	=javascript_pack_tag 'board'
	=javascript_pack_tag 'task'
