.container
  %i.fa.fa-angle-double-left
  =link_to 'Back',:back
  .task
    .task_title
      %h2.task_name= @task.name
      - if user_signed_in? && current_user.has_written_task?(@board,@task)
        .board_detail.actions
          .dropdown
            = image_tag 'actions.svg',class:'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_task_path(@board,@task)
              = link_to 'Delete', board_task_path(@board,@task), data:{method:'delete',confirm:'Are you sure you want to destroy?'}
    - if @task.eyecatch&.attached?
      = image_tag @task.eyecatch, class:'task_eyecatch'
    - else
      = image_tag 'background-default.png',class:'task_eyecatch'
    .card
      .card_content
        .card_description
          = @task.description
        .card_deadline
          %p.card_deadline_text Deadline
          -if @task.deadline.present?
            %p= @task.deadline
          -else
            %p Unknown

  %h2.task_comment Comment
  .commnet-container
  -# - @comments.each do |comment|
  -#   .comment
  -#     .comment_image
  -#       = image_tag comment.user.avatar_image
  -#     .comment_description
  -#       = comment.description


  -# コメント投稿ボタン
  .new_board
    = link_to new_board_task_comment_path(@board.id,@task.id),class:'board_button' do
      .float_btn
        %i.fa.fa-plus
      %p Add new comment