.container.mt-5
  =render 'commons/createboard'
  =link_to '前のページに戻る',:back,class:'btn btn-info'
  .task#task-show{data:{board_id: @board.id, task_id: @task.id}}
    .task_title
      %h2.task_name= @task.name
      - if user_signed_in? && current_user.has_written_task?(@board,@task)
        .board_detail.actions
          .dropdown
            = image_tag 'actions.svg',class:'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_task_path(@board,@task)
              = link_to 'Delete', board_task_path(@board,@task), data:{method:'delete',confirm:'Are you sure you want to destroy?'}
    - if @task.eyecatch&.attached?
      = image_tag @task.eyecatch, class:'task_eyecatch'
    - else
      = image_tag 'background-default.png',class:'task_eyecatch'
    .card
      .card_content
        .card_description
          = @task.description
        .card_deadline
          %p.card_deadline_text Deadline
          -if @task.deadline.present?
            %p= @task.deadline
          -else
            %p Unknown

  %h2.task_comment Comment
  .comment-container


  .new_board
    .btn.btn-first.show-comment-form
      %i.fa.fa-plus
      %p Add new comment
    .comment-text-area.hidden
      =text_area_tag :comment_content, '', class:'sm'
    .btn.btn-first.add-comment-button.hidden
      %i.fa.fa-plus
      %p Add new comment

=javascript_pack_tag 'task'
=javascript_pack_tag 'board'