.row.align-items-center.justify-content-center
	- visitor = notification.visitor
	- visited = notification.visited
	- unless visitor.blank?
		= image_tag visitor.avatar_image, class: "header_avatar mr-1"
		%strong
			-if visitor.email == 'guest@gmail.com'
				%p ゲストユーザー
			-else
				= link_to account_path(visitor) ,class:'text-warning' do
					= visitor.profile.nickname
		= 'さんが'
		- case notification.action
		- when 'follow' then
			= "あなたをフォローしました"
			%p.mb-0.ml-4= "#{time_ago_in_words(notification.created_at)}前"
		- when 'like' then
			%strong
				= link_to 'あなたの投稿', board_tasks_path(notification.board), class:'text-warning'
			= 'にいいねしました'
			%p.mb-0.ml-4= "#{time_ago_in_words(notification.created_at)}前"
	- else
		%p.mb-0 通知はありません
%hr