.container-find-word-area.mt-5.mb-5
	.col
		%h2.py-2.text-info キーワード検索
		= search_form_for @q do |f|
			= f.search_field :name_cont,placeholder:"例：プログラミング",class:'py-2 px-5 w-100'
			= f.submit "検索",data:{disable_with:'検索中'},class:'btn btn-info btn-find-word text-white py-2 mt-3 mt-lg-2 mb-4 mb-md-0 w-100'
		%h2.py-2.mt-4.text-info タグ一覧
		- if Board.all_tags.present?
			- Board.all_tags.each do |tag_all|
				%p.btn.btn-warning.text-white
					= link_to "##{tag_all}", boards_path(tag_name: tag_all.name),class:'text-white text-decoration-none'
		- else
			%p タグは登録されていません
		-# %h2.py-2.mt-4.text-info カテゴリ一覧
		-# - @category_parents.each do |category_parent|
		-# 	%p= category_parent.name
		-# 	- category_parent.children.each do |category_children|
		-# 		%p= category_children.name