.container
  =image_tag 'welcome-image2.png',class:'welcome-image2'
  %h2.form_title Sign in
  %p.form_description If you would like to sign in with your email address, please fill in the forms below.
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :password, class: 'text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text'
    .actions
      = f.submit "Submit", class: 'btn-primary'
  %h2 Other Options
  = render "devise/shared/links"

