.container
  %h2 All Board
  - @boards.each do |board|
    .card
      .card_content
        .card_name
          = board.name
          - if user_signed_in? && current_user.has_written?(board)
            .board_detail_actions
              .dropdown
                = image_tag 'actions.svg', class: 'dropbtn'
                .dropdown-content.mini
                  = link_to 'Edit', edit_board_path(board)
                  = link_to 'Delete', board_path(board), data: {method: 'delete', confirm: 'Are you sure you want to destroy? '}
        .card_description
          = board.description
        .card_readmore
          =link_to board_tasks_path(board) do
            %p Read More >>
        .card_detail
          = image_tag board.user.avatar_image

  .new_board
    .btn-primary.show-board-form
      %i.fa.fa-plus
      %p Add new board
    .add_new_board_name.hidden
      %p Name
      = text_area_tag :board_name, '',class:'ssm'
    .add_new_board_description.hidden
      %p Description
      =text_area_tag :board_description, '', class:'sm'
    .btn-primary.post-new-board.hidden
      %i.fa.fa-plus
      %p Add new board
  =paginate @boards

  =javascript_pack_tag 'board'
