.container.mt-5
  %ul
  - @board.errors.full_messages.each do |message|
    %li= message
  = form_with(model: @board, url: boards_path, method: 'post',local: true,class: 'mb-5') do |f|
    %div.mt-3
      = f.label :name, 'タイトル'
    %div
      = f.text_field :name, class: 'text'
    %div
      = f.label :content, '内容'
    %div
      = f.rich_text_area :content, class: 'text'
    %div
      = f.label :tag_list,'タグ'
    -# %div
    -#   = f.select :category, options_for_select(@category_parent_array.map{|c|[c, {}]}, @board.category.parent.parent.name), {}, {class: 'select', id: 'parent_category'}
    %div
      = f.text_field :tag_list, value: @board.tag_list.join(','), class: "form-control"
    = f.submit '送信', data:{confirm:'送信しても良いですか？',disable_with:'処理中...'},class: 'btn-first'
