.container
  %h2= @board.name

  - @tasks.each do |task|
    .card
      =link_to board_task_path(@board,task) do
        .card_content
          .card_name
            = task.name
          .card_description
            = task.description
          .card_detail
            = image_tag task.user.avatar_image
            .card_btn
              %p 23
              %i.fa.fa-comments.fa-2x.fa-fw


  -# new task作成
  .new_board
    = link_to new_board_task_path(@board), class:'board_button' do
      .float_btn
        %i.fa.fa-plus
      %p Add new card