.container.mt-5
	%h2.py-2.text-info メッセージ一覧
	- @anotherEntries.each do |e|
		%table.table.table-striped
			%tr
				%td
					/ 名前からroomの詳細に飛べるようにリンク化
					= link_to room_path(e.room.id) do
						-# = attachment_image_tag e.user, :profile_image, format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpg", size: "30x30"
						=image_tag @user.avatar_image
						= e.user.email
				%td
					/ 最新メッセージ内容の最初の7文字を表示する
					-dm = DirectMessage.find_by(id: e.room.direct_message_ids.last).content
					= truncate(dm, length: 10)
				%td
					%h6{:style => "color: #C0C0C0;"}= e.updated_at.strftime("%Y/%m/%d %H:%M")
				%td
					= link_to room_path(e.room.id), method: :delete do
						.btn.btn-info メッセージ削除