!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoappTry
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
  %header.header.fixed-top
    .header_pageTitle
      = link_to root_path ,class:' d-flex align-items-center text-decoration-none' do
        =image_tag 'logodesign.png',class:'ml-auto'
        %h2.mb-0.text-info.ml-3 Boards
    -unless user_signed_in?
      .header_pagelogin
        = link_to new_user_session_path do
          .btn.btn-info ログイン

    - if user_signed_in?
      .dropdown-header.pr-0
        .dropdown-header-hidden-parent.d-flex
          .dropdown-header-hidden.d-flex
            = image_tag current_user.avatar_image, class: 'header_avatar dropbtn'
            = render 'commons/userdata',user: current_user
          %button.btn.btn-info.modal-btn.ml-3 機能を使う
        .modal-background
          .modal.container
            .row
              =image_tag 'hiddenbtn',class:'hidden hidden_btn'
            .row.mx-auto.mt-5.modal-row
              .col-12.col-md-3.modal-children-note.modal-children-background.mx-auto
                .modal-siblings.modal-note
                  =image_tag 'note.png'
                  %p.modal-text 募集を作成

              .col-12.col-md-3.modal-children-people.modal-children-background.mx-auto
                =link_to edit_profile_path do
                  .modal-siblings
                    =image_tag 'people.png'
                    %p.modal-text プロフィール

              .col-12.col-md-3.modal-children-logout.modal-children-background.mx-auto
                =link_to destroy_user_session_path, data: { method: 'delete' } do
                  .modal-siblings
                    =image_tag 'logout.png'
                    %p.modal-text ログアウト
  = yield
