
=render 'commons/registration_step',profile:@profile
.container
  %h2.registration-title.text-info 新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "users/shared/error_messages", resource: resource
    .field
      = f.label :Eメール
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",class:"text"
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password",class:"text"
    .field
      = f.label :パスワード（確認用）
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password",class:"text"
    .actions
      = f.submit "登録を完了する",class:"btn btn-first mt-2"
